* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.inputs-global {
  width: 25rem;
  height: 2.3rem;
  margin-bottom: 1.5rem;
  outline: none;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
label {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.button-global {
  all: unset;
  padding: 8px 16px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
}
